@charset "utf-8";
* {
  margin: 0;padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
body {
  width: 1400px;
  margin:0 auto;
  text-align: center;
  background: #fff;
  color:#333;
}
.center {
  width: 1200px;
  margin:0 auto;
}

header {
  width: 100%;
  height: 100px;
  background: rgb(216,216,216);
  padding:30px 100px;
}
.logo {
  float:left;
}
.menu {
  float:right;
}
.menu .main {
  float:left;
}
.menu .main > a {
  border-radius: 16px 16px 0 0;
  border-bottom: 1px solid #000;
  font-weight: bold;
}
.menu a {
  display: block;
  width: 160px;
  height: 40px;
  line-height: 40px;
  background: #00C73C;
  color:#fff;
  transition:.2s;
}
.menu a:hover {
  background: #737373;
  font-weight: bold;
}
.menu .sub {
  width: 160px;
  height: 160px;
  background: #00C73C;
  position: fixed;
  z-index: 6;
}

.slide {
  height: 300px;
  overflow: hidden;
}
.slide .wrap {
  width: 100%;
  height: 300%;
}
.slide li {
  position: relative;
}
.slide img {
  display: block;
}
.slide p {
  position: absolute;
  left: 35%;top: 40%;
  width: 400px;
  height: 40px;
  line-height: 40px;
  background: rgba(255,255,255,.8);
  color:#333;
  font-weight: bold;
  font-size: 20px;
  border-radius: 16px;
}

.contents {
  height: 200px;
}
.contents > div {
  float:left;
  width: 400px;
  height: 100%;
  overflow: hidden;
}
.contents .title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #00C73C;
  color:#fff;
  font-weight: bold;
}
.notice li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px dotted #000;
}
.notice li:nth-child(even) {
  background: yellow;
}
.notice li a {
  float:left;
  margin-left:30px;
}
.notice li p {
  float:right;
  margin-right:30px;
}
.gallery {
  border: 1px solid #000;
  border-top: none;
  border-bottom: none;
}
.gallery li {
  float:left;
  margin:35px 0 0 44px;
  transition:.2s;
}
.gallery li:hover {
  transform: scale(1.06);
  opacity: .6;
}

footer {
  width: 100%;
  height: 100px;
  background: rgb(216,216,216);
}
footer p {
  float:left;
  margin-left:100px;
  width: 800px;
  height: 100%;
  line-height: 100px;
}
footer .other {
  float:right;
  width: 400px;
  height: 100%;
  margin-right:100px;
  border-left: 1px dotted #000;
}
footer .sns {
  float:right;
  width: 100%;
  height: 50%;
}
footer .sns img {
  float:left;
  display: block;
  width: 50px;
  height: 50px;
  margin:0 41px;
}
footer .family {
  float:right;
  width: 100%;
  height: 50%;
}
.family select {
  width: 160px;
  margin-top:10px;
}

#modal {
  position: absolute;
  left: 0;top: 0;
  width: 100%;height: 100%;
  background: rgba(0,0,0,.6);
  z-index: 10;
}
#modal .wrap {
  position: absolute;
  left: 35%;top: 30%;
  width: 600px;
  height: 300px;
  background: #fff;
}
#modal h4 {
  margin:40px 0 30px;
  font-size:30px;
}
#modal button {
  width: 160px;
  height: 40px;
  background: #00C73C;
  border: none;
  margin-top: 30px;
  color:#fff;
  font-size:20px;
  font-weight: bold;
  border-radius: 16px;
  transition:.2s;
}
#modal button:hover {
  cursor: pointer;
  border-radius: 16px 16px 0 16px;
}